<div class="header-2 relative z-20">
  <!-- header -->
  <nav class="py-2 md:py-4">
    <div class="container px-4 mx-auto md:flex md:items-center">
      <div class="flex justify-between items-center">
        <a href="/" class="w-[18rem]"><img src="/assets/logo.png" class="w-3/4 h-auto object-center m-auto"></a>
        <button class="border border-solid border-[#363636] px-2 py-1 rounded-2xl text-[#363636] opacity-50 hover:opacity-75 md:hidden" id="navbar-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0 text-[0.8rem] lg:text-[0.9rem]" id="navbar-collapse">
        <a href="#" class="p-2 lg:px-4 md:mx-2 text-[#1e50d7] underline underline-offset-4 decoration-2 font-medium">Home</a>
        <a href="#" class="p-2 lg:px-4 md:mx-2 text-[#363636] rounded">About</a>
        <a href="#" class="p-2 lg:px-4 md:mx-2 text-[#363636] rounded">News</a>
        <a href="#" class="p-2 lg:px-4 md:mx-2 text-[#363636] rounded">Contact</a>
      </div>
    </div>
  </nav>
  <!-- Header End -->
</div>
