<div class="bg-[#F6F7FB]">
  <div class="container px-4 mx-auto pb-[10rem]">
    <div class="pt-[6rem] mb-12">
      <h4 class="leading-none  text-center lg:text-left">
        <span class="font-thin lg:text-[2.5rem] text-[2rem]">Getting</span><br> <span class="font-medium lg:text-[3rem] text-[2.5rem]">Started</span>
      </h4>
    </div>
    <div class="lg:flex lg:flex-row pb-10 lg:gap-10">
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/leaf_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">Gardening</p>
        <p class="text-[#8B939A] pt-[0.2rem] px-[3rem] text-[1rem]">There are many variations of passages</p>
      </div>
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/ring_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">Tailoring</p>
        <p class="text-[#8B939A] pt-[2%] pl-[18%] pr-[10%] text-[1rem]">There are many variations of passages</p>
      </div>
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/brush_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">Painting</p>
        <p class="text-[#8B939A] pt-[2%] pl-[18%] pr-[10%] text-[1rem]">There are many variations of passages</p>
      </div>
      <div class="lg:w-[24rem] w-90% h-[18rem] overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/mesh.png" class="w-[100%] h-[100%] object-center object-cover">
      </div>
    </div>
    <div class="lg:flex lg:flex-row pb-10 lg:gap-10">
      <div class="hidden lg:block w-[24rem] h-[18rem] overflow-hidden mx-auto">
        <img src="/assets/mesh.png" class="w-[100%] h-[100%] object-center object-cover">
      </div>
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/marker_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">Graphic & Design</p>
        <p class="text-[#8B939A] pt-[2%] pl-[18%] pr-[10%] text-[1rem]">There are many variations of passages</p>
      </div>
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto mb-10 lg:mb-0">
        <img src="/assets/bell_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">Digital Marketing</p>
        <p class="text-[#8B939A] pt-[2%] pl-[18%] pr-[10%] text-[1rem]">There are many variations of passages</p>
      </div>
      <div class="bg-white lg:w-[22rem] w-[80%] h-[18rem] rounded-xl overflow-hidden mx-auto">
        <img src="/assets/chair_pic.png" class="w-[4rem] h-auto ml-[3rem] mt-[3rem]">
        <p class="text-[#050931] pt-[1rem] px-[3rem] text-[1.2rem] font-medium">furniture</p>
        <p class="text-[#8B939A] pt-[2%] pl-[18%] pr-[10%] text-[1rem]">There are many variations of passages</p>
      </div>
    </div>
  </div>
</div>
